* {
    font-family: 'Nunito', sans-serif;
    font-size: 1.1em;

}

body {
    background: url('../background-image.jpg');
    background-repeat: repeat-y;
    background-size: 400vh;
}

button {
    font-weight: bold;
    font-size: .6em;
    border: .15 solid;
    border-radius: 1em;
    transition: .2s;
}

textarea {
    resize: none;
    padding: .5em;
    width: 100%;
    background: rgb(255,255,255,0);
    border: none;
}

/*This only affects the Edit_Tree*/
textarea:focus {
    outline: 1px solid #91B14E;
}

.d-box {
    /*display: block;*/
    width: 25em;
    margin: 2.5em auto;
    padding: 2em;
    background: rgb(255,255,255,.7);
    border: .5em solid #91B14E;
    border-radius: 1em;
    box-shadow: 5px 5px 19px 1px rgba(0,0,0,0.25);
}

/*This needs to be different for the edit mode to avoid annoying animations*/
.d-box-edit {
    /*display: block;*/
    width: 25em;
    margin: 2.5em auto;
    padding: 2em;
    background: rgb(255,255,255,.7);
    border: .5em solid #91B14E;
    border-radius: 1em;
    box-shadow: 5px 5px 19px 1px rgba(0,0,0,0.25);
}

.d-box:last-of-type {
    animation: pop-in .5s;
}

@keyframes pop-in {
    0% {opacity: 0; transform: translateY(-10%) }
   25% {opacity: .5; transform: translateY(5%) }
   50% {opacity: .75; transform: translateY(-3%)}
   100% {opacity: 1; transform: translateY(0%)}
}

.d-response-container {
    margin-top: 1em;
    display: grid;
}

.d-response {
    border: .15em solid;
    margin: .5em;
    padding: .5em;
    color: black;
    background: rgb(255,255,255,.5);
    letter-spacing: .05em;
    cursor: pointer;
}

/*This is the lighter color that comes when you hover*/
.d-response:hover, .d-response:hover:focus {
    background: #BFCE37;
}

.d-response textarea {
    text-align: center;
    font-weight: bold;
    font-size: 1.1em;
}

/*This is the color the button turns when a response is chosen*/
.selected {
    color: white;
    background: #91B14E;
    box-shadow: 5px 5px 19px 1px rgba(0,0,0,0.25);

}

.new-response {
    height: 2.5em;
    width: 2.5em;
    border-radius: 50%;
    margin: 1em auto 0 auto;
    color: white;
    background: dodgerblue;
    font-size: 1em;
    border: .1em solid dodgerblue;
    cursor: pointer;
    transition: .2s;
}

.new-response:hover, .new-response:focus {
    background: white;
    color: dodgerblue;
}

.reset:first-of-type {
    margin: 5em auto 1em auto;
}

.reset {
    width: 25em;
    display: block;
    margin: 1em auto;
    padding: 1em;
    font-size: .75em;
    color: black;
    border-color: black;
    background: rgb(255,255,255,.7);
    box-shadow: 5px 5px 19px 1px rgba(0,0,0,0.25);
    cursor: pointer;
}

.reset:hover {
    background: rgb(255,255,255,.15);
    text-shadow: 1px 1px 5px rgba(255, 255, 255, 1), 1px -1px 5px rgba(255, 255, 255, 1);
    box-shadow: none;
}

.remove-box {
    /*display: block;*/
    position: relative;
    left: calc(100% - 1em);
    top: -1em;
    height: 2em;
    width: 2em;
    font-size: 1em;
    color: white;
    background: firebrick;
    border: .15em solid firebrick;
    border-radius: 50%;
    cursor: pointer;
    z-index: 2;
}

.remove-box:hover {
    color: firebrick;
    background: white;
}

.remove-box:hover::after {
    display: block;
    content: "This button will erase this response and ALL its branches";
    position: relative;
    left: 1em;
    top: 1em;
    width: 10em;
    padding: .5em;
    border: .15em solid firebrick;
    background: rgb(255,255,255,.7);
}

#data-text {
    display: block;
    margin: auto;
    width: 80%;
    background: white;
}

.context {
    padding-left: .5em;
    color: #808080;
    background: #f5f5f5;
    font-size: .75em;
}

.add-new-response {
    font-size: .75em;
    color: dodgerblue;
    text-align: center;
}

#copy:hover {
    background: dodgerblue;
    color: white;
    text-shadow: none;
}
